fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
spacy
fastembed
qdrant-client
groq
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
pypdf
structlog
python-dotenv
slowapi
pytest
httpx
reportlab
ragas
datasets
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
