fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
# spacy # Removed to save memory
fastembed
qdrant-client
groq
langchain
langchain-community
langchain-groq
# langchain-huggingface # Removed to save memory
langchain-text-splitters
langchain-core
pypdf
structlog
python-dotenv
slowapi
pytest
httpx
reportlab
# ragas # Removed to save memory
# datasets # Removed to save memory
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
